# ignore everything but .gitignore
/*
!/.gitignore

# lybrary in documents
!/Documents
/Documents/*
!/Documents/lybrary/

# newsboat configuration
!/.newsboat
/.newsboat/*
!/.newsboat/config

# bashrc
!/.bashrc
!/.bashrc.d
